.color-nav {
    background-color: rgba(240, 240, 242, .9);
}


.links-navbar {
    width: 100%;
}

body {
    background-color: #fafafb !important;
}

a {
    text-decoration: none !important;
}

.logo-fit-border {
    border-right: 1px solid #919191;
    padding-right: 10px;
}

.section {
    border-radius: 5px;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 170%;
    font-size: large;

}

.section:first-child {
    margin-top: 130px !important;
}

.section .row {
    width: 80%;
    margin: auto;
}

.section .row-userDoc {
    width: 80%;
    margin: 35px;
}

.section .row-userDoc p {
    text-align: left;
}


.hover-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
}

.middle {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.hover-container {
    width: 100%;
}

.section h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 35px;

}

.hover-container:hover .hover-image {
    opacity: 0.3 !important;
}

.hover-container:hover .middle {
    opacity: 1;
}

.img-border {
    border-color: #f0f0f0;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;

}


.icon-color {
    color: #000000;
}

kbd {
    background-color: #9f9f9f;
}

.feature-box {
    background-color: #f1f1f1 !important;;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.1);*/
}

.img-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#changelog-text {
    font-size: 80%;
}

#changelog-text h1 {
    font-size: 140%;
}

#changelog-text h2 {
    font-size: 130%;
}

#changelog-text h3 {
    font-size: 120%;
}

#changelog-text h4 {
    font-size: 110%;
}

#changelog-text h5 {
    font-size: 100%;
}

#changelog-text h6 {
    font-size: 90%;
}

#changelog-text h1, h2, h3, h4, h5, h6 {
    margin-top: .4rem;
    margin-bottom: .4rem;
}

#changelog-text ul {
    margin-bottom: .4rem;
}

.selectable-text{
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Chrome and Opera */

}

.image-container {
    width: 50vw;
    height: 50vh;
    position: relative;
}

.image-container .image {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover; 
        margin-bottom: auto;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}